JWT_SECRET = your_jwt_secret

# Tâches à faire :
# Profile --> Tester de générer une erreur (modification de plein de champs, etc.)
# Vérifier les messages d'erreur claires
# Interests --> Manque la route POST
# Seed --> Obligé à ce qu'il y est dans la table user au moins un role de chaque sur les 5 créés
# Investments --> Get ses investissements : dans output API, au lieu de juste l'ID du projet, mettre l'objet du projet avec son interest
# Projects --> Seuls les entrepreneurs peuvent créer ou modifier leurs propres projets : est-ce le cas là ?
# Projects --> Autoriser les admins à créer ou modifier des projets de n'importe qui ?
# Projects --> Empêcher un entrepreneur de modifier un projet d'un autre entrepreneur
# Users --> PUT mettre à jour ses intérêts
# Seed --> Interests : ne pas autoriser de créer plusieurs fois le même intérêt
# Investments --> @Roles(UserRole.INVESTOR) // Appliquer à tout le contrôleur
# Exporter les routes de l'API dans un fichier index.ts ou postman.json / bruno + environnement
# Seed --> Interests : éviter de créer des doublons dans la table
# Seed --> Users : ajouter au moins un utilisateur de chaque rôle